<div class="d-flex justify-content-between">
  <h1>Spectacle new</h1>
  <div class="">
      <%= link_to "retour", spectacles_path, class:"btn btn-flat" %>
  </div>
</div>
<div class="card p-4">
 <%= render "form", spectacle: @spectacle %>
</div>
