<%= image_tag "logo.png", height: 30, width: 30, alt: "Logo" %>
<div class="badge rounded-pill bg-primary fs-6">
  <%= location.name %>
</div>

<%# add custom image to assets/images %>
<%# curl https://raw.githubusercontent.com/lewagon/fullstack-images/master/logo.png > app/assets/images/logo.png %>
